@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-mono: var(--font-supply);
}

* {
  text-box: trim-both cap alphabetic;
}

/* textarea {
  text-box: normal;
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  border-radius: 0;
}

html {
  text-size-adjust: 100%;
}

h1,
h2,
h3,
h4 {
  overflow-wrap: break-word;
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

input,
textarea,
select {
  field-sizing: content;
}

body {
  background: var(--background);
  color: var(--foreground);
}
